button{
    position: absolute;
    border: none;
    font-size: 4.8vh;
    font-family: Arial, Helvetica, sans-serif;
}

.btn#btnA,.btn#btnK,.btn#btnR,.btn#btnP,.btn#btnG,.btn#btnC{
    transition: background-position .3s;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
}

.btn#btnA,.btn#btnK,.btn#btnR { background-position: 100% 0%; }

.btn{
    animation: animBtnA 7s alternate infinite ease-in-out, animBtnK 7s alternate infinite ease-in-out,
    animBtnR 7s alternate infinite ease-in-out, animBtnP 7s alternate infinite ease-in-out,
    animBtnG 7s alternate infinite ease-in-out, animBtnC 7s alternate infinite ease-in-out;
}

#btnA {
    top: 20vh; left: 40vh;
    background: linear-gradient(90deg, rgb(162, 211, 219) 0%, rgb(162, 211, 219) 50%, white 50%, white 100%);
}

/* Button Animation */

@keyframes animBtnA {
    0%{ transform: translateX(1px) translateY(1px) rotate(1.5deg); }
    25%{ transform: translateX(3px) translateY(-3px) rotate(-2deg); }
    50%{ transform: translateX(-3px) translateY(3px) rotate(2deg); }
    75%{ transform: translateX(-6px) translateY(3px) rotate(-1.5deg); }
    100%{ transform: translateX(3px) translateY(-6px) rotate(1deg); }
}

#btnK {
    bottom: 40vh; left: 20vh;
    background: linear-gradient(90deg, rgb(206, 173, 222) 0%, rgb(206, 173, 222) 50%, white 50%, white 100%);
}

@keyframes animBtnK {
    0%{ transform: translateX(1px) translateY(1px) rotate(1.5deg); }
    25%{ transform: translateX(-4px) translateY(1px) rotate(-2deg); }
    50%{ transform: translateX(5px) translateY(-2px) rotate(2deg); }
    75%{ transform: translateX(-3px) translateY(5px) rotate(-1.5deg); }
    100%{ transform: translateX(2px) translateY(-4px) rotate(1deg); }
}

#btnR { 
    bottom: 10vh; left: 30vh;
    background: linear-gradient(90deg, rgb(222, 173, 210) 0%, rgb(222, 173, 210) 50%, white 50%, white 100%);
}

@keyframes animBtnR {
    0%{ transform: translateX(1px) translateY(1px) rotate(1.5deg); }
    25%{ transform: translateX(3px) translateY(-3px) rotate(-2deg); }
    50%{ transform: translateX(-3px) translateY(3px) rotate(2deg); }
    75%{ transform: translateX(-6px) translateY(3px) rotate(-1.5deg); }
    100%{ transform: translateX(3px) translateY(-6px) rotate(1deg); }
}

#btnP {
    top: 25vh; right: 37vh;
    background: linear-gradient(90deg, white 0%, white 50%, rgb(219, 206, 160) 50%, rgb(219, 206, 160) 100%);
}

@keyframes animBtnP {
    0%{ transform: translateX(1px) translateY(1px) rotate(1.5deg); }
    25%{ transform: translateX(3px) translateY(-3px) rotate(-2deg); }
    50%{ transform: translateX(-3px) translateY(3px) rotate(2deg); }
    75%{ transform: translateX(-6px) translateY(3px) rotate(-1.5deg); }
    100%{ transform: translateX(3px) translateY(-6px) rotate(1deg); }
}

#btnG { 
    top: 55vh; right: 21vh;
    background: linear-gradient(90deg, white 0%, white 50%, rgb(196, 217, 156) 50%, rgb(196, 217, 156) 100%);
}

@keyframes animBtnG {
    0%{ transform: translateX(1px) translateY(1px) rotate(1.5deg); }
    25%{ transform: translateX(3px) translateY(-3px) rotate(-2deg); }
    50%{ transform: translateX(-3px) translateY(3px) rotate(2deg); }
    75%{ transform: translateX(-6px) translateY(3px) rotate(-1.5deg); }
    100%{ transform: translateX(3px) translateY(-6px) rotate(1deg); }
}

#btnC { 
    bottom: 10vh; right: 31vh;
    background: linear-gradient(90deg, white 0%, white 50%, rgb(155, 212, 201) 50%, rgb(155, 212, 201) 100%);
}

@keyframes animBtnC {
    0%{ transform: translateX(1px) translateY(1px) rotate(1.5deg); }
    25%{ transform: translateX(3px) translateY(-3px) rotate(-2deg); }
    50%{ transform: translateX(-3px) translateY(3px) rotate(2deg); }
    75%{ transform: translateX(-6px) translateY(3px) rotate(-1.5deg); }
    100%{ transform: translateX(3px) translateY(-6px) rotate(1deg); }
}