button{
    position: absolute;
    border: none;
    font-size: 4.8vh;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
}

.btn#btnA,.btn#btnK,.btn#btnR,.btn#btnP,.btn#btnG,.btn#btnC{
    transition: background-position .3s;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    position: absolute;
}

.btn#btnA,.btn#btnK,.btn#btnR { background-position: 100% 0%; }

/* Gradients of the Buttons */
#btnA { background: linear-gradient(90deg, rgb(162, 211, 219) 0%, rgb(162, 211, 219) 50%, white 50%, white 100%); }
#btnK { background: linear-gradient(90deg, rgb(206, 173, 222) 0%, rgb(206, 173, 222) 50%, white 50%, white 100%); }
#btnR { background: linear-gradient(90deg, rgb(222, 173, 210) 0%, rgb(222, 173, 210) 50%, white 50%, white 100%); }
#btnP { background: linear-gradient(90deg, white 0%, white 50%, rgb(219, 206, 160) 50%, rgb(219, 206, 160) 100%); }
#btnG { background: linear-gradient(90deg, white 0%, white 50%, rgb(196, 217, 156) 50%, rgb(196, 217, 156) 100%); }
#btnC { background: linear-gradient(90deg, white 0%, white 50%, rgb(155, 212, 201) 50%, rgb(155, 212, 201) 100%); }
