*{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

body {
  overflow: hidden; 
  background: radial-gradient(circle at center center, rgba(31,31,31,255) 0%, rgba(28,28,28,255) 30%, rgba(20,20,20,255) 38%, rgba(16,16,16,255) 45%, rgba(5,5,5,255) 100%);
  background-repeat: none;
}

.center {
  border: dotted white 1px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 600px;
  width: 550px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#topic{
  
}

label {
  display: block;
  color: white;
  margin-top: 10px;
}

#fname, #subject, #mail, #reference{
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

#reference{
  height: 335px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
}

.button-container{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#submit, #back{
  border: solid white 1px;
  border-radius: 20px;
  padding: 5px 10px 5px 10px; 
  background-color: transparent;
  color: white;
}

#submit:hover{
  color: green;
  border-color: green;
}

#back:hover{
  color: red;
  border-color: red;
}