
@keyframes openContactForm { /* Keyframes for opening Contact From */
    from {top: 100%;}
    to {top: 20%;}
  }

  @keyframes closeContactForm { /* Keyframes for closing Contact From */
    from {top: 20%;}
    to {top: 100%;}
  }

  @keyframes enableBackdropBlur {  /* Enable Backdrop Blur when Opening Contact Form */
    0% {z-index: 2;}
    1% {backdrop-filter: blur(0px); z-index: 3;}
    100% {backdrop-filter: blur(10px); z-index: 3;}
  }

  @keyframes disableBackdropBlur {  /* Disable Backdrop Blur when Closing Contact Form */
    0% {backdrop-filter: blur(10px);z-index: 3;}
    50% {backdrop-filter: blur(0px);}
    100% {z-index: 2;}
  }