*{ padding: 0%; margin: 0%;}

body { /* Background Code */
    height: 100rem; width: 100rem; overflow: hidden; 
    background: radial-gradient(circle at center center, rgba(31,31,31,255) 0%, rgba(28,28,28,255) 30%, rgba(20,20,20,255) 38%, rgba(16,16,16,255) 45%, rgba(5,5,5,255) 100%);
}

#bg { pointer-events: none; }
#bg_image{ position: absolute; overflow: hidden; z-index: -1; }

:root{ --hue-deg: 0deg; } /* Only Usedd for Color Change of Shirt */
#bg_shirt{ z-index: 2; filter: hue-rotate(var(--hue-deg)); } 
