*{ padding: 0%; margin: 0%;}

body { 
    background: radial-gradient(circle at center center, rgba(31,31,31,255) 0%, rgba(28,28,28,255) 30%, rgba(20,20,20,255) 38%, rgba(16,16,16,255) 45%, rgba(5,5,5,255) 100%);
    overflow: hidden; 
    z-index: 0;
}

.flex-container {
    display: flex;
    height:  100vh;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

#pdfContainer {
    margin: 10px;
    height: 825px;
    width: 600px;
}

.pdf {
    border: 0;
    overflow: hidden;
    height: inherit;
    width: inherit;
}

#btnReturn {
    position: absolute;
    top: 2%;
    overflow: hidden;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 40px;
}

#btnReturn:hover{
    color: cyan;
}

a {
    text-decoration: none;
    color: inherit;
}