* { padding: 0%; margin: 0%; }

body {
    height: 100vh; 
    width: 100vw; 
    overflow: hidden; 
    /* background: radial-gradient(circle at center center, rgba(31,31,31,255) 0%, rgba(28,28,28,255) 30%, rgba(20,20,20,255) 38%, rgba(16,16,16,255) 45%, rgba(5,5,5,255) 100%); */
    background-image: url( 'background.svg' );
    background-repeat: none;
    background-size: 100%;
    z-index: 0;
}

.bg {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

img { pointer-events: none; transition: 0.5s}

#bg_image { position: absolute; z-index: 1; }

:root { --hue-deg: 0deg; }

#bg_shirt { position: absolute; z-index: 2; filter: hue-rotate(var(--hue-deg)); }

button { position: relative; }

.btn_con{
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    border-top: 50px;
}

.btn{
    padding: 10px 0px 0px 20px;
    width: 300px;
    font-size: 40px;
    color: white;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
}

.btn a#about_me_text,.btn a#knowledge_text,.btn a#resume_text,.btn a#project_text,.btn a#github_text,.btn a#contact_text{
    transition: background-position .3s;
    background-position: 100% 0%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    position: relative;
}

#about_me_text { background: linear-gradient(90deg, rgb(162, 211, 219) 0%, rgb(162, 211, 219) 50%, white 50%, white 100%); }
#knowledge_text { background: linear-gradient(90deg, rgb(206, 173, 222) 0%, rgb(206, 173, 222) 50%, white 50%, white 100%); }
#resume_text { background: linear-gradient(90deg, rgb(222, 173, 210) 0%, rgb(222, 173, 210) 50%, white 50%, white 100%); }
#project_text { background: linear-gradient(90deg, rgb(219, 206, 160) 0%, rgb(219, 206, 160) 50%, white 50%, white 100%); }
#github_text { background: linear-gradient(90deg, rgb(196, 217, 156) 0%, rgb(196, 217, 156) 50%, white 50%, white 100%); }
#contact_text { background: linear-gradient(90deg, rgb(155, 212, 201) 0%, rgb(155, 212, 201) 50%, white 50%, white 100%); } 

.middle_content{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    border: solid red;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content {
    height: 85vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}